openapi: 3.2.0
info:
  title: Classy API (GoFundMe Pro) Members API
  description: The Classy API is a resource-oriented REST API for the Classy online fundraising platform (rebranding to GoFundMe Pro).
  version: '2.0'
  contact:
    name: Classy (GoFundMe Pro)
    url: https://www.classy.org
servers:
- url: https://api.classy.org/2.0
  description: Classy / GoFundMe Pro production API
security:
- bearerAuth: []
tags:
- name: Members
  description: The account behind a fundraiser, admin, or donor.
paths:
  /members/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getMember
      tags:
      - Members
      summary: Retrieve a member
      responses:
        '200':
          description: The requested member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /members/{id}/fundraising-pages:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: listMemberFundraisingPages
      tags:
      - Members
      summary: List a member's fundraising pages
      responses:
        '200':
          description: A paginated list of fundraising pages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundraisingPagePage'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /members/{id}/recurring-donation-plans:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: listMemberRecurringDonationPlans
      tags:
      - Members
      summary: List a member's recurring donation plans
      responses:
        '200':
          description: A paginated list of recurring donation plans.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringDonationPlanPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    RecurringDonationPlan:
      type: object
      properties:
        id:
          type: integer
        campaign_id:
          type: integer
        member_id:
          type: integer
        status:
          type: string
          enum:
          - active
          - paused
          - cancelled
        frequency:
          type: string
          description: e.g. monthly, weekly, annually.
        raw_amount:
          type: number
        currency_code:
          type: string
        next_charge_date:
          type: string
          format: date
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      additionalProperties: true
    Member:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        email_address:
          type: string
          format: email
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      additionalProperties: true
    FundraisingPagePage:
      allOf:
      - $ref: '#/components/schemas/PaginationEnvelope'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/FundraisingPage'
    FundraisingPageInput:
      type: object
      required:
      - title
      properties:
        title:
          type: string
        goal:
          type: number
        story:
          type: string
        member_id:
          type: integer
      additionalProperties: true
    FundraisingPage:
      allOf:
      - $ref: '#/components/schemas/FundraisingPageInput'
      - type: object
        properties:
          id:
            type: integer
          campaign_id:
            type: integer
          fundraising_team_id:
            type:
            - integer
            - 'null'
          status:
            type: string
          url:
            type: string
          raw_current_amount:
            type: number
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
    RecurringDonationPlanPage:
      allOf:
      - $ref: '#/components/schemas/PaginationEnvelope'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/RecurringDonationPlan'
    Error:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
        permissions:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
              entity:
                type: string
    PaginationEnvelope:
      type: object
      properties:
        current_page:
          type: integer
        first_page_url:
          type: string
        from:
          type: integer
        last_page:
          type: integer
        last_page_url:
          type: string
        next_page_url:
          type:
          - string
          - 'null'
        path:
          type: string
        per_page:
          type: integer
        prev_page_url:
          type:
          - string
          - 'null'
        to:
          type: integer
        total:
          type: integer
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The numeric ID of the resource.
      schema:
        type: integer
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, invalid, or expired Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 client_credentials access token obtained from POST /oauth2/auth. Passed as `Authorization: Bearer {access_token}`.'
