openapi: 3.2.0
info:
  title: Classy API (GoFundMe Pro) Authentication API
  description: The Classy API is a resource-oriented REST API for the Classy online fundraising platform (rebranding to GoFundMe Pro).
  version: '2.0'
  contact:
    name: Classy (GoFundMe Pro)
    url: https://www.classy.org
servers:
- url: https://api.classy.org/2.0
  description: Classy / GoFundMe Pro production API
security:
- bearerAuth: []
tags:
- name: Authentication
  description: OAuth2 client credentials token exchange.
paths:
  /oauth2/auth:
    post:
      operationId: authenticate
      tags:
      - Authentication
      summary: Exchange client credentials for an access token
      description: Exchanges a client_id and client_secret for a Bearer access token using the client_credentials grant. Tokens expire after expires_in seconds and must be refreshed by calling this endpoint again.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
      responses:
        '200':
          description: A new access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Missing or invalid client_id / client_secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    AuthRequest:
      type: object
      required:
      - client_id
      - client_secret
      - grant_type
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        grant_type:
          type: string
          enum:
          - client_credentials
          - password
          - refresh_token
    Error:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
        permissions:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
              entity:
                type: string
    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          description: Token lifetime in seconds (observed value 7200 in Classy's own examples).
        queries_log:
          type: array
          items:
            type: object
            additionalProperties: true
        token_type:
          type: string
          example: bearer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 client_credentials access token obtained from POST /oauth2/auth. Passed as `Authorization: Bearer {access_token}`.'
