openapi: 3.2.0
info:
  title: Classy API (GoFundMe Pro) Designations API
  description: The Classy API is a resource-oriented REST API for the Classy online fundraising platform (rebranding to GoFundMe Pro).
  version: '2.0'
  contact:
    name: Classy (GoFundMe Pro)
    url: https://www.classy.org
servers:
- url: https://api.classy.org/2.0
  description: Classy / GoFundMe Pro production API
security:
- bearerAuth: []
tags:
- name: Designations
  description: Funds or programs donors can direct gifts toward.
paths:
  /designations/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getDesignation
      tags:
      - Designations
      summary: Retrieve a designation
      responses:
        '200':
          description: The requested designation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Designation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateDesignation
      tags:
      - Designations
      summary: Update a designation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignationInput'
      responses:
        '200':
          description: The updated designation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Designation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  schemas:
    DesignationInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
        active:
          type: boolean
      additionalProperties: true
    Designation:
      allOf:
      - $ref: '#/components/schemas/DesignationInput'
      - type: object
        properties:
          id:
            type: integer
          organization_id:
            type: integer
          campaign_id:
            type:
            - integer
            - 'null'
          raw_current_amount:
            type: number
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
    Error:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
        permissions:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
              entity:
                type: string
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The numeric ID of the resource.
      schema:
        type: integer
  responses:
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, invalid, or expired Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 client_credentials access token obtained from POST /oauth2/auth. Passed as `Authorization: Bearer {access_token}`.'
